
.container{
    background-color: rgb(51, 51, 51);
    color:#fff;
}

nav a{
  color:rgb(220, 53, 69);
}

.flex-center,
.flex-end,
.flex-between{
  display: flex;
  flex-wrap: wrap;
}


.flex-center{
  justify-content: center;
}

.flex-end{
  justify-content: flex-end;
}

.flex-between{
  justify-content: space-between;
}

.noVisible{
  display: none;
}

.card,
.card-body{
  width:22rem;
  height:22rem;
  color:darkgrey;
}

.card{
  margin-bottom: 23rem;
}

.card-body{
  box-shadow: -1px -2px 3px #ccc;
}

.card-img-top{
  width: 100%;
  height: 100%;
}

.card-body>*{
  margin:2px;
  padding: 2px;
}

.card a{
  color: inherit;
}

.content-center{
  display: flex;
  margin: 10px auto;
  flex-direction: column;
}

.full,
.full>.card-body{
  width: 100%!important;
  height: 100%!important;
}

.full{
  text-align: justify;
  font-size: 1.8rem;
}

.img-detail{
  width:30rem;
  height:30rem;
}
